@import "../vars";

.loading-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($loading_modal_background_color, 0.5);
  display: inline-block;
  z-index: 10000;

  .loading-modal-icon {
    position: relative;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    transform: translateX(-50%) translateY(-50%);
    font-size: 4em;
    color: $dark_gray;
  }
}