@import "../../vars";
@import "../../mixins";

body {

  .teaser_showtimes {
    position: absolute;
    top: $showtimes_position_top + 300px;
    left: 0;
    width: 100%;
    height: $showtimes_container_height;
    overflow: hidden;
    opacity: 0;

    @include transition(
                    top $o2d_ani_dur_tf,
                    opacity $o2d_ani_dur_tf
    );

    .day {
      position: absolute;
      top: $showtimes_day_pos_top;
      left: $showtimes_day_left_margin;
      width: calc(100% - #{$showtimes_day_horizontal_margin});

      @include transition(top $o2d_ani_dur_tf);

      .movie {
        width: 100%;
        height: $showtimes_container_height;
        position: absolute;
        top: 0;
        left: 0;

        .cinema {
          @include box-shadow(
                          1px,
                          $shadow_left_default,
                          4px,
                          1px,
                          $showtimes_cinema_box_shadow_color
          );
          margin-bottom: $showtimes_item_space;
          padding: $showtimes_item_padding $showtimes_item_padding #{$showtimes_item_padding - $showtimes_list_times_margin_bottom} $showtimes_item_padding;
          background: $showtimes_cinema_box_background_color none;
          @include transform(translateX(0));
          @include transition(transform $o2d_ani_dur_tf);

          @include rounded();

          & > .headline {
            @include displayGrid;
            @include gridRows(1fr);
            @include gridColumns(1fr 50px);
            @include grid(grid-gap, 0);
            width: 100%;

            margin-bottom: 10px;

            & > h3 {
              @include resetAll;
              font-weight: bold;

              @include grid(grid-row, 1);
              @include grid(grid-column, 1);
            }

            & > .distance {
              @include grid(grid-row, 1);
              @include grid(grid-column, 2);
              text-align: right;
              display: block; // Microsoft EDGE needs display block
              color: $showtimes_item_headline_distance_color;
              font-size: $showtimes_item_headline_distance_font_size;
            }
          }

          & > .showtime_list {

            @include displayGrid;
            @include gridRows(1fr);
            @include gridColumns(75px 1fr);
            @include grid(grid-gap, 0);

            & > h4 {
              @include resetAll;
              @include grid(grid-row, 1);
              @include grid(grid-column, 1);
              color: $showtimes_list_headline_color;
              font-size: $showtimes_list_headline_font_size;
              margin-top: $showtimes_list_times_padding + $showtimes_list_times_border_size;
            }

            & > .list {
              @include grid(grid-row, 1);
              @include grid(grid-column, 2);

              span {
                display: inline-block;
                padding: $showtimes_list_times_padding;
                border: $showtimes_list_times_border_size solid $showtimes_time_border_color;
                margin-bottom: $showtimes_list_times_margin_bottom;
                margin-right: $showtimes_list_times_margin_right;
                color: $showtimes_list_times_color;
                font-size: $showtimes_list_times_font_size;
                @include rounded();
                text-transform: uppercase;
              }
            }
          }
        }

        @for $i from 2 through 10 {
          .cinema:nth-of-type(#{$i}) {
            @include transition(transform $o2d_ani_dur_tf #{100ms * $i});
          }
        }
      }

      & > .pos_right .cinema {
        @include transform(translateX(110%));
      }

      & > .pos_left .cinema {
        @include transform(translateX(-110%));
      }

      & > .active .cinema {
        @include transform(translateX(0));
      }
    }

    .day_pos_left {
      top: -#{$showtimes_container_height};
    }

    .day_pos_right {
      top: -#{$showtimes_container_height};
    }

    .day_active {
      top: $showtimes_day_pos_top;
    }
  }

  &.mode-details {
    .teaser_showtimes {
      top: $showtimes_position_top;
      opacity: 1;
      left: 0;
    }
  }
}