@import "../../vars";
@import "../../mixins";

body {

  .days {
    position: absolute;
    width: 100%;
    top: $teaser_item_expanded_height + 150px;
    left: 0;
    background: $day_nav_background_color none;
    z-index: 30;

    @include displayGrid();
    @include gridColumns(1fr 1fr 1fr 1fr 1fr);
    @include gridRows(59px);
    @include grid(grid-gap, 0);

    @include box-shadow();
    @include transition(
                    top $o2d_ani_dur_tf,
                    opacity $o2d_ani_dur_tf
    );
    opacity: 0;

    .item {
      display: block;
      color: $day_nav_text_color;
      text-align: center;
      @include grid(grid-row, 1);
      position: relative;
      height: $day_nav_height;
      background-color: $day_nav_background_color;
      z-index: 1;

      @include transition(all 500ms ease);

      @include userSelect(none);
      cursor: pointer;

      &:hover:not(.active) {
        background-color: lighten($day_nav_active_background_color, 20%);
        color: $day_nav_active_text_color;
      }

      .day_containter {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translateY(-50%) translateX(-50%));

        span {
          display: block;
          font-size: $day_nav_date_font_size;
        }

        span:nth-of-type(2) {
          font-size: $day_nav_week_day_font_size;
        }
      }
    }

    .active {
      background-color: $day_nav_active_background_color;
      color: $day_nav_active_text_color;
      height: $day_nav_height + ($day_nav_active_border * 2);
      @include transform(translateY(-#{$day_nav_active_border}));
      @include box-shadow();
      z-index: 50;
    }

    @for $i from 1 through 5 {
      .item:nth-of-type(#{$i}) {
        @include grid(grid-column, $i);
      }
    }
  }

  &.mode-details {
    .days {
      top: $teaser_item_expanded_height;
      opacity: 1;
    }
  }
}