@import "../../mixins";
@import "../../vars";

body {

  .burger {
    display: inline-block;
    position: fixed;
    z-index: 1001;
    top: 20px;
    left: 0;
    width: 18px;
    height: 9px;
    cursor: pointer;
    background-color: rgba($white, 0); // Makes it more click/touchable.
    border: 10px solid rgba($white, 0); // Makes it more click/touchable.
    @include transform(center, -origin);
    @include transform(scale(1));
    @include transition(transform 250ms ease);

    &:hover {
      @include transform(scale(1.25));
    }

    span {
      display: inline-block;
      width: 15px;
      height: 1px;
      background-color: $burger_lines_color;
      position: absolute;
      @include transition(all $o2d_ani_dur_tf);
    }

    span:first-child {
      top: 0;
      left: 0;
    }

    span:nth-child(2) {
      top: 4px;
      right: 0;
    }

    span:last-child {
      bottom: 0;
      left: 0;
    }
  }

  &.mode-details {

    .burger {

      span {
        background-color: $burger_chevron_color;
      }

      span:first-child,
      span:last-child {
        height: 2px;
        width: 10px;
        transform: rotate(-45deg);
        vertical-align: top;
      }

      span:last-child {
        transform: rotate(45deg);
        bottom: 1px;
      }

      span:nth-child(2) {
        opacity: 0;
      }
    }
  }
}