@import "../../vars";
@import "../../mixins";

body {
  header {
    height: 47px;
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba($header_background_color, 1) none;

    h1 {
      @include resetAll;
      text-align: center;
      text-transform: uppercase;
      margin-top: 30px;
    }
  }
}