@import "../../vars";
@import "../../mixins";

@include keyframes(minimize_header) {
  0% {
    opacity: 1;
    width: 100%;
  }

  99% {
    opacity: 0;
    width: 100%;
  }

  100% {
    opacity: 0;
    width: 0;
  }
}

@include keyframes(maximize_header) {
  100% {
    opacity: 1;
    width: 100%;
  }

  1% {
    opacity: 0;
    width: 100%;
  }

  0% {
    opacity: 0;
    width: 0;
  }
}

body {
  &.mode-details:not(.mode-overview) header {
    @include animationName(minimize_header);
    @include animationDuration($animation_duration_default);
    @include animationIterationCount(1);
    @include animationFillMode(both);
  }

  // Cannot use reverse mode with same keyframes until it was reset by removing an adding them, see https://stackoverflow.com/a/33351228
  &.mode-overview:not(.mode-details) header {
    @include animationName(maximize_header);
    @include animationDuration($animation_duration_default);
    @include animationIterationCount(1);
    @include animationFillMode(both);
  }
}