/* Transition globals */
/* Animation globals */
/* Transition/animation global shortcuts */
/* Component: ./components/days */
/* Component: ./components/teaser */
/* Component: ./components/showtimes */
/* Component: ./components/header/burger */
/* Component: ./components/header/header */
/* Component: ./loading-modal */
/* Transition globals */
/* Animation globals */
/* Transition/animation global shortcuts */
/* Component: ./components/days */
/* Component: ./components/teaser */
/* Component: ./components/showtimes */
/* Component: ./components/header/burger */
/* Component: ./components/header/header */
/* Component: ./loading-modal */
/* Transition globals */
/* Animation globals */
/* Transition/animation global shortcuts */
/* Component: ./components/days */
/* Component: ./components/teaser */
/* Component: ./components/showtimes */
/* Component: ./components/header/burger */
/* Component: ./components/header/header */
/* Component: ./loading-modal */
body {
  background: #fff none;
  margin: 0;
  padding: 0;
  font-family: "San Francisco", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #000; }
  body .container {
    margin: 0; }

.template {
  display: none; }

.spin {
  -moz-animation-name: spin;
  -webkit-animation-name: spin;
  animation-name: spin;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  display: inline-block; }

@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.fade-out {
  -moz-animation-name: fade-out;
  -webkit-animation-name: fade-out;
  animation-name: fade-out;
  -moz-animation-duration: 500ms;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  display: inline-block; }

@-webkit-keyframes fade-out {
  0% {
    opacity: 100; }
  100% {
    opacity: 0; } }

@-moz-keyframes fade-out {
  0% {
    opacity: 100; }
  100% {
    opacity: 0; } }

@-ms-keyframes fade-out {
  0% {
    opacity: 100; }
  100% {
    opacity: 0; } }

@keyframes fade-out {
  0% {
    opacity: 100; }
  100% {
    opacity: 0; } }

.move_out_of_sight_important {
  position: absolute !important;
  left: -100% !important; }

/* Transition globals */
/* Animation globals */
/* Transition/animation global shortcuts */
/* Component: ./components/days */
/* Component: ./components/teaser */
/* Component: ./components/showtimes */
/* Component: ./components/header/burger */
/* Component: ./components/header/header */
/* Component: ./loading-modal */
/* Transition globals */
/* Animation globals */
/* Transition/animation global shortcuts */
/* Component: ./components/days */
/* Component: ./components/teaser */
/* Component: ./components/showtimes */
/* Component: ./components/header/burger */
/* Component: ./components/header/header */
/* Component: ./loading-modal */
body header {
  height: 47px;
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: white none; }
  body header h1 {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: normal;
    border: none;
    position: static;
    text-align: inherit;
    text-transform: none;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px; }

/* Transition globals */
/* Animation globals */
/* Transition/animation global shortcuts */
/* Component: ./components/days */
/* Component: ./components/teaser */
/* Component: ./components/showtimes */
/* Component: ./components/header/burger */
/* Component: ./components/header/header */
/* Component: ./loading-modal */
/* Transition globals */
/* Animation globals */
/* Transition/animation global shortcuts */
/* Component: ./components/days */
/* Component: ./components/teaser */
/* Component: ./components/showtimes */
/* Component: ./components/header/burger */
/* Component: ./components/header/header */
/* Component: ./loading-modal */
@-webkit-keyframes minimize_header {
  0% {
    opacity: 1;
    width: 100%; }
  99% {
    opacity: 0;
    width: 100%; }
  100% {
    opacity: 0;
    width: 0; } }

@-moz-keyframes minimize_header {
  0% {
    opacity: 1;
    width: 100%; }
  99% {
    opacity: 0;
    width: 100%; }
  100% {
    opacity: 0;
    width: 0; } }

@-ms-keyframes minimize_header {
  0% {
    opacity: 1;
    width: 100%; }
  99% {
    opacity: 0;
    width: 100%; }
  100% {
    opacity: 0;
    width: 0; } }

@keyframes minimize_header {
  0% {
    opacity: 1;
    width: 100%; }
  99% {
    opacity: 0;
    width: 100%; }
  100% {
    opacity: 0;
    width: 0; } }

@-webkit-keyframes maximize_header {
  100% {
    opacity: 1;
    width: 100%; }
  1% {
    opacity: 0;
    width: 100%; }
  0% {
    opacity: 0;
    width: 0; } }

@-moz-keyframes maximize_header {
  100% {
    opacity: 1;
    width: 100%; }
  1% {
    opacity: 0;
    width: 100%; }
  0% {
    opacity: 0;
    width: 0; } }

@-ms-keyframes maximize_header {
  100% {
    opacity: 1;
    width: 100%; }
  1% {
    opacity: 0;
    width: 100%; }
  0% {
    opacity: 0;
    width: 0; } }

@keyframes maximize_header {
  100% {
    opacity: 1;
    width: 100%; }
  1% {
    opacity: 0;
    width: 100%; }
  0% {
    opacity: 0;
    width: 0; } }

body.mode-details:not(.mode-overview) header {
  -moz-animation-name: minimize_header;
  -webkit-animation-name: minimize_header;
  animation-name: minimize_header;
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

body.mode-overview:not(.mode-details) header {
  -moz-animation-name: maximize_header;
  -webkit-animation-name: maximize_header;
  animation-name: maximize_header;
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

/* Transition globals */
/* Animation globals */
/* Transition/animation global shortcuts */
/* Component: ./components/days */
/* Component: ./components/teaser */
/* Component: ./components/showtimes */
/* Component: ./components/header/burger */
/* Component: ./components/header/header */
/* Component: ./loading-modal */
/* Transition globals */
/* Animation globals */
/* Transition/animation global shortcuts */
/* Component: ./components/days */
/* Component: ./components/teaser */
/* Component: ./components/showtimes */
/* Component: ./components/header/burger */
/* Component: ./components/header/header */
/* Component: ./loading-modal */
body .burger {
  display: inline-block;
  position: fixed;
  z-index: 1001;
  top: 20px;
  left: 0;
  width: 18px;
  height: 9px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  border: 10px solid rgba(255, 255, 255, 0);
  -moz-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-transition: transform 250ms ease;
  -webkit-transition: transform 250ms ease;
  transition: transform 250ms ease; }
  body .burger:hover {
    -moz-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25); }
  body .burger span {
    display: inline-block;
    width: 15px;
    height: 1px;
    background-color: #000;
    position: absolute;
    -moz-transition: all 750ms ease;
    -webkit-transition: all 750ms ease;
    transition: all 750ms ease; }
  body .burger span:first-child {
    top: 0;
    left: 0; }
  body .burger span:nth-child(2) {
    top: 4px;
    right: 0; }
  body .burger span:last-child {
    bottom: 0;
    left: 0; }

body.mode-details .burger span {
  background-color: #fff; }

body.mode-details .burger span:first-child,
body.mode-details .burger span:last-child {
  height: 2px;
  width: 10px;
  transform: rotate(-45deg);
  vertical-align: top; }

body.mode-details .burger span:last-child {
  transform: rotate(45deg);
  bottom: 1px; }

body.mode-details .burger span:nth-child(2) {
  opacity: 0; }

/* Transition globals */
/* Animation globals */
/* Transition/animation global shortcuts */
/* Component: ./components/days */
/* Component: ./components/teaser */
/* Component: ./components/showtimes */
/* Component: ./components/header/burger */
/* Component: ./components/header/header */
/* Component: ./loading-modal */
/* Transition globals */
/* Animation globals */
/* Transition/animation global shortcuts */
/* Component: ./components/days */
/* Component: ./components/teaser */
/* Component: ./components/showtimes */
/* Component: ./components/header/burger */
/* Component: ./components/header/header */
/* Component: ./loading-modal */
body .teaser_headlines,
body .teaser {
  -moz-transition: height 750ms ease;
  -webkit-transition: height 750ms ease;
  transition: height 750ms ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1497px;
  overflow: hidden; }
  body .teaser_headlines .item,
  body .teaser .item {
    left: 10px;
    top: 47px;
    width: calc(100% - 20px);
    height: 135px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    -moz-transition: left 750ms ease, top 750ms ease, width 750ms ease, height 750ms ease;
    -webkit-transition: left 750ms ease, top 750ms ease, width 750ms ease, height 750ms ease;
    transition: left 750ms ease, top 750ms ease, width 750ms ease, height 750ms ease; }
  body .teaser_headlines .item:nth-of-type(2),
  body .teaser .item:nth-of-type(2) {
    top: 192px; }
  body .teaser_headlines .item:nth-of-type(3),
  body .teaser .item:nth-of-type(3) {
    top: 337px; }
  body .teaser_headlines .item:nth-of-type(4),
  body .teaser .item:nth-of-type(4) {
    top: 482px; }
  body .teaser_headlines .item:nth-of-type(5),
  body .teaser .item:nth-of-type(5) {
    top: 627px; }
  body .teaser_headlines .item:nth-of-type(6),
  body .teaser .item:nth-of-type(6) {
    top: 772px; }
  body .teaser_headlines .item:nth-of-type(7),
  body .teaser .item:nth-of-type(7) {
    top: 917px; }
  body .teaser_headlines .item:nth-of-type(8),
  body .teaser .item:nth-of-type(8) {
    top: 1062px; }
  body .teaser_headlines .item:nth-of-type(9),
  body .teaser .item:nth-of-type(9) {
    top: 1207px; }
  body .teaser_headlines .item:nth-of-type(10),
  body .teaser .item:nth-of-type(10) {
    top: 1352px; }

body.mode-details .teaser_headlines,
body.mode-details .teaser {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 180px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none; }
  body.mode-details .teaser_headlines .item,
  body.mode-details .teaser .item {
    height: 180px;
    width: 100%;
    top: 0 !important;
    left: 0; }

/* Transition globals */
/* Animation globals */
/* Transition/animation global shortcuts */
/* Component: ./components/days */
/* Component: ./components/teaser */
/* Component: ./components/showtimes */
/* Component: ./components/header/burger */
/* Component: ./components/header/header */
/* Component: ./loading-modal */
/* Transition globals */
/* Animation globals */
/* Transition/animation global shortcuts */
/* Component: ./components/days */
/* Component: ./components/teaser */
/* Component: ./components/showtimes */
/* Component: ./components/header/burger */
/* Component: ./components/header/header */
/* Component: ./loading-modal */
body .teaser .item {
  -moz-transition: left 750ms ease, top 750ms ease, width 750ms ease, height 750ms ease, border-radius 750ms ease;
  -webkit-transition: left 750ms ease, top 750ms ease, width 750ms ease, height 750ms ease, border-radius 750ms ease;
  transition: left 750ms ease, top 750ms ease, width 750ms ease, height 750ms ease, border-radius 750ms ease;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  body .teaser .item:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.75; }
  body .teaser .item:nth-child(5n+0):before {
    background: -webkit-gradient(linear, left top, right top, from(#d50000), to(#c17d00));
    background: -moz-linear-gradient(left, #d50000, #c17d00);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d50000', endColorstr='#c17d00'); }
  body .teaser .item:nth-child(5n+1):before {
    background: -webkit-gradient(linear, left top, right top, from(#02cb7a), to(#00d1d3));
    background: -moz-linear-gradient(left, #02cb7a, #00d1d3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#02cb7a', endColorstr='#00d1d3'); }
  body .teaser .item:nth-child(5n+2):before {
    background: -webkit-gradient(linear, left top, right top, from(#d7d700), to(#00d800));
    background: -moz-linear-gradient(left, #d7d700, #00d800);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d7d700', endColorstr='#00d800'); }
  body .teaser .item:nth-child(5n+3):before {
    background: -webkit-gradient(linear, left top, right top, from(#ff00be), to(#0495ff));
    background: -moz-linear-gradient(left, #ff00be, #0495ff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00be', endColorstr='#0495ff'); }
  body .teaser .item:nth-child(5n+4):before {
    background: -webkit-gradient(linear, left top, right top, from(#00abe1), to(#00d700));
    background: -moz-linear-gradient(left, #00abe1, #00d700);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00abe1', endColorstr='#00d700'); }
  body .teaser .item .rating {
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: #fff;
    -moz-transition: opacity 750ms ease;
    -webkit-transition: opacity 750ms ease;
    transition: opacity 750ms ease;
    opacity: 1;
    font-size: 1.2em; }
    body .teaser .item .rating:before {
      content: '\E800';
      font-family: arithnea-exercise, sans-serif;
      color: #E5BD40;
      margin-right: 0.2em; }

body.mode-details .teaser .item {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  overflow: visible; }
  body.mode-details .teaser .item .rating {
    opacity: 0; }

body.mode-details .teaser .pos_left,
body.mode-details .teaser .pos_right,
body.mode-details .teaser .active {
  position: absolute;
  top: 0;
  width: 100%; }

body.mode-details .teaser .pos_left {
  left: -100%; }

body.mode-details .teaser .active {
  left: 0; }

body.mode-details .teaser .pos_right {
  left: 100%; }

/* Transition globals */
/* Animation globals */
/* Transition/animation global shortcuts */
/* Component: ./components/days */
/* Component: ./components/teaser */
/* Component: ./components/showtimes */
/* Component: ./components/header/burger */
/* Component: ./components/header/header */
/* Component: ./loading-modal */
/* Transition globals */
/* Animation globals */
/* Transition/animation global shortcuts */
/* Component: ./components/days */
/* Component: ./components/teaser */
/* Component: ./components/showtimes */
/* Component: ./components/header/burger */
/* Component: ./components/header/header */
/* Component: ./loading-modal */
body .teaser_headlines .item {
  left: 10px;
  top: 47px;
  width: calc(100% - 20px);
  height: 135px;
  position: absolute;
  z-index: 20; }
  body .teaser_headlines .item:before {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #fff none;
    position: absolute;
    top: 132px;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 20;
    opacity: 0;
    -moz-transition: left 750ms ease, opacity 750ms ease, width 750ms ease;
    -webkit-transition: left 750ms ease, opacity 750ms ease, width 750ms ease;
    transition: left 750ms ease, opacity 750ms ease, width 750ms ease; }
  body .teaser_headlines .item .headline_container {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #fff;
    background: transparent;
    -moz-transition: bottom 750ms ease, left 750ms ease, transform 750ms ease, opacity 750ms ease;
    -webkit-transition: bottom 750ms ease, left 750ms ease, transform 750ms ease, opacity 750ms ease;
    transition: bottom 750ms ease, left 750ms ease, transform 750ms ease, opacity 750ms ease; }
    body .teaser_headlines .item .headline_container span {
      display: inline-block;
      white-space: nowrap;
      font-size: 1.2em;
      -moz-transform: translateX(0);
      -webkit-transform: translateX(0);
      transform: translateX(0);
      -moz-transition: transform 750ms ease;
      -webkit-transition: transform 750ms ease;
      transition: transform 750ms ease; }

body .teaser_headlines .item:nth-of-type(2) {
  top: 192px; }

body .teaser_headlines .item:nth-of-type(3) {
  top: 337px; }

body .teaser_headlines .item:nth-of-type(4) {
  top: 482px; }

body .teaser_headlines .item:nth-of-type(5) {
  top: 627px; }

body .teaser_headlines .item:nth-of-type(6) {
  top: 772px; }

body .teaser_headlines .item:nth-of-type(7) {
  top: 917px; }

body .teaser_headlines .item:nth-of-type(8) {
  top: 1062px; }

body .teaser_headlines .item:nth-of-type(9) {
  top: 1207px; }

body .teaser_headlines .item:nth-of-type(10) {
  top: 1352px; }

body.mode-details .teaser_headlines .item:before {
  width: 37px;
  opacity: 1; }

body.mode-details .teaser_headlines .item .headline_container {
  left: 50%;
  -moz-transform: translateY(50%) scale(1);
  -webkit-transform: translateY(50%) scale(1);
  transform: translateY(50%) scale(1);
  bottom: 50%;
  background-color: rgba(255, 255, 255, 0);
  -moz-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center; }
  body.mode-details .teaser_headlines .item .headline_container span {
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }

body.mode-details .teaser_headlines .pos_left {
  left: -100%;
  z-index: 10; }
  body.mode-details .teaser_headlines .pos_left:before {
    left: 100%;
    opacity: 0; }
  body.mode-details .teaser_headlines .pos_left .headline_container {
    left: 100%;
    opacity: 0.5; }

body.mode-details .teaser_headlines .active {
  left: 0;
  z-index: 5; }
  body.mode-details .teaser_headlines .active .headline_container {
    opacity: 1;
    -moz-transform: translateX(25%) translateY(50%) scale(1.5);
    -webkit-transform: translateX(25%) translateY(50%) scale(1.5);
    transform: translateX(25%) translateY(50%) scale(1.5); }

body.mode-details .teaser_headlines .pos_right {
  left: 100%;
  z-index: 10; }
  body.mode-details .teaser_headlines .pos_right:before {
    left: 0;
    opacity: 0; }
  body.mode-details .teaser_headlines .pos_right .headline_container {
    opacity: 0.5;
    left: 0; }

body.mode-details .teaser_headlines .pos_left_off .headline_container,
body.mode-details .teaser_headlines .pos_right_off .headline_container {
  opacity: 0;
  left: 0;
  -moz-transform: translateY(50%) scale(1);
  -webkit-transform: translateY(50%) scale(1);
  transform: translateY(50%) scale(1); }

body.mode-details .teaser_headlines .pos_right_off .headline_container {
  left: 50%; }

body.mode-details .teaser_headlines .item:hover .headline_container {
  opacity: 1; }

/* Transition globals */
/* Animation globals */
/* Transition/animation global shortcuts */
/* Component: ./components/days */
/* Component: ./components/teaser */
/* Component: ./components/showtimes */
/* Component: ./components/header/burger */
/* Component: ./components/header/header */
/* Component: ./loading-modal */
/* Transition globals */
/* Animation globals */
/* Transition/animation global shortcuts */
/* Component: ./components/days */
/* Component: ./components/teaser */
/* Component: ./components/showtimes */
/* Component: ./components/header/burger */
/* Component: ./components/header/header */
/* Component: ./loading-modal */
body .days {
  position: absolute;
  width: 100%;
  top: 330px;
  left: 0;
  background: #fff none;
  z-index: 30;
  display: -ms-grid;
  display: grid;
  -ms-grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-auto-rows: 59px;
  grid-auto-rows: 59px;
  -ms-grid-rows: 59px;
  grid-rows: 59px;
  -ms-grid-gap: 0;
  grid-gap: 0;
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  -moz-transition: top 750ms ease, opacity 750ms ease;
  -webkit-transition: top 750ms ease, opacity 750ms ease;
  transition: top 750ms ease, opacity 750ms ease;
  opacity: 0; }
  body .days .item {
    display: block;
    color: #AFADAE;
    text-align: center;
    -ms-grid-row: 1;
    grid-row: 1;
    position: relative;
    height: 59px;
    background-color: #fff;
    z-index: 1;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer; }
    body .days .item:hover:not(.active) {
      background-color: #b1eaf9;
      color: #fff; }
    body .days .item .day_containter {
      position: absolute;
      top: 50%;
      left: 50%;
      -moz-transform: translateY(-50%) translateX(-50%);
      -webkit-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%); }
      body .days .item .day_containter span {
        display: block;
        font-size: 1.25em; }
      body .days .item .day_containter span:nth-of-type(2) {
        font-size: 0.75em; }
  body .days .active {
    background-color: #52D0F2;
    color: #fff;
    height: 67px;
    -moz-transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    z-index: 50; }
  body .days .item:nth-of-type(1) {
    -ms-grid-column: 1;
    grid-column: 1; }
  body .days .item:nth-of-type(2) {
    -ms-grid-column: 2;
    grid-column: 2; }
  body .days .item:nth-of-type(3) {
    -ms-grid-column: 3;
    grid-column: 3; }
  body .days .item:nth-of-type(4) {
    -ms-grid-column: 4;
    grid-column: 4; }
  body .days .item:nth-of-type(5) {
    -ms-grid-column: 5;
    grid-column: 5; }

body.mode-details .days {
  top: 180px;
  opacity: 1; }

/* Transition globals */
/* Animation globals */
/* Transition/animation global shortcuts */
/* Component: ./components/days */
/* Component: ./components/teaser */
/* Component: ./components/showtimes */
/* Component: ./components/header/burger */
/* Component: ./components/header/header */
/* Component: ./loading-modal */
/* Transition globals */
/* Animation globals */
/* Transition/animation global shortcuts */
/* Component: ./components/days */
/* Component: ./components/teaser */
/* Component: ./components/showtimes */
/* Component: ./components/header/burger */
/* Component: ./components/header/header */
/* Component: ./loading-modal */
body .teaser_showtimes {
  position: absolute;
  top: 539px;
  left: 0;
  width: 100%;
  height: 1000px;
  overflow: hidden;
  opacity: 0;
  -moz-transition: top 750ms ease, opacity 750ms ease;
  -webkit-transition: top 750ms ease, opacity 750ms ease;
  transition: top 750ms ease, opacity 750ms ease; }
  body .teaser_showtimes .day {
    position: absolute;
    top: 18px;
    left: 10px;
    width: calc(100% - 20px);
    -moz-transition: top 750ms ease;
    -webkit-transition: top 750ms ease;
    transition: top 750ms ease; }
    body .teaser_showtimes .day .movie {
      width: 100%;
      height: 1000px;
      position: absolute;
      top: 0;
      left: 0; }
      body .teaser_showtimes .day .movie .cinema {
        -moz-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.15);
        box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.15);
        margin-bottom: 10px;
        padding: 15px 15px 7px 15px;
        background: #fff none;
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -moz-transition: transform 750ms ease;
        -webkit-transition: transform 750ms ease;
        transition: transform 750ms ease;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px; }
        body .teaser_showtimes .day .movie .cinema > .headline {
          display: -ms-grid;
          display: grid;
          -ms-grid-auto-rows: 1fr;
          grid-auto-rows: 1fr;
          -ms-grid-rows: 1fr;
          grid-rows: 1fr;
          -ms-grid-template-columns: 1fr 50px;
          grid-template-columns: 1fr 50px;
          -ms-grid-columns: 1fr 50px;
          grid-columns: 1fr 50px;
          -ms-grid-gap: 0;
          grid-gap: 0;
          width: 100%;
          margin-bottom: 10px; }
          body .teaser_showtimes .day .movie .cinema > .headline > h3 {
            margin: 0;
            padding: 0;
            font-size: inherit;
            font-weight: normal;
            border: none;
            position: static;
            text-align: inherit;
            text-transform: none;
            font-weight: bold;
            -ms-grid-row: 1;
            grid-row: 1;
            -ms-grid-column: 1;
            grid-column: 1; }
          body .teaser_showtimes .day .movie .cinema > .headline > .distance {
            -ms-grid-row: 1;
            grid-row: 1;
            -ms-grid-column: 2;
            grid-column: 2;
            text-align: right;
            display: block;
            color: #C0C1C1;
            font-size: 0.8em; }
        body .teaser_showtimes .day .movie .cinema > .showtime_list {
          display: -ms-grid;
          display: grid;
          -ms-grid-auto-rows: 1fr;
          grid-auto-rows: 1fr;
          -ms-grid-rows: 1fr;
          grid-rows: 1fr;
          -ms-grid-template-columns: 75px 1fr;
          grid-template-columns: 75px 1fr;
          -ms-grid-columns: 75px 1fr;
          grid-columns: 75px 1fr;
          -ms-grid-gap: 0;
          grid-gap: 0; }
          body .teaser_showtimes .day .movie .cinema > .showtime_list > h4 {
            margin: 0;
            padding: 0;
            font-size: inherit;
            font-weight: normal;
            border: none;
            position: static;
            text-align: inherit;
            text-transform: none;
            -ms-grid-row: 1;
            grid-row: 1;
            -ms-grid-column: 1;
            grid-column: 1;
            color: #3D3C3C;
            font-size: 0.9em;
            margin-top: 6px; }
          body .teaser_showtimes .day .movie .cinema > .showtime_list > .list {
            -ms-grid-row: 1;
            grid-row: 1;
            -ms-grid-column: 2;
            grid-column: 2; }
            body .teaser_showtimes .day .movie .cinema > .showtime_list > .list span {
              display: inline-block;
              padding: 5px;
              border: 1px solid #52D0F2;
              margin-bottom: 8px;
              margin-right: 7px;
              color: #3D3C3C;
              font-size: 0.9em;
              -moz-border-radius: 5px;
              -webkit-border-radius: 5px;
              border-radius: 5px;
              text-transform: uppercase; }
      body .teaser_showtimes .day .movie .cinema:nth-of-type(2) {
        -moz-transition: transform 750ms ease 200ms;
        -webkit-transition: transform 750ms ease 200ms;
        transition: transform 750ms ease 200ms; }
      body .teaser_showtimes .day .movie .cinema:nth-of-type(3) {
        -moz-transition: transform 750ms ease 300ms;
        -webkit-transition: transform 750ms ease 300ms;
        transition: transform 750ms ease 300ms; }
      body .teaser_showtimes .day .movie .cinema:nth-of-type(4) {
        -moz-transition: transform 750ms ease 400ms;
        -webkit-transition: transform 750ms ease 400ms;
        transition: transform 750ms ease 400ms; }
      body .teaser_showtimes .day .movie .cinema:nth-of-type(5) {
        -moz-transition: transform 750ms ease 500ms;
        -webkit-transition: transform 750ms ease 500ms;
        transition: transform 750ms ease 500ms; }
      body .teaser_showtimes .day .movie .cinema:nth-of-type(6) {
        -moz-transition: transform 750ms ease 600ms;
        -webkit-transition: transform 750ms ease 600ms;
        transition: transform 750ms ease 600ms; }
      body .teaser_showtimes .day .movie .cinema:nth-of-type(7) {
        -moz-transition: transform 750ms ease 700ms;
        -webkit-transition: transform 750ms ease 700ms;
        transition: transform 750ms ease 700ms; }
      body .teaser_showtimes .day .movie .cinema:nth-of-type(8) {
        -moz-transition: transform 750ms ease 800ms;
        -webkit-transition: transform 750ms ease 800ms;
        transition: transform 750ms ease 800ms; }
      body .teaser_showtimes .day .movie .cinema:nth-of-type(9) {
        -moz-transition: transform 750ms ease 900ms;
        -webkit-transition: transform 750ms ease 900ms;
        transition: transform 750ms ease 900ms; }
      body .teaser_showtimes .day .movie .cinema:nth-of-type(10) {
        -moz-transition: transform 750ms ease 1000ms;
        -webkit-transition: transform 750ms ease 1000ms;
        transition: transform 750ms ease 1000ms; }
    body .teaser_showtimes .day > .pos_right .cinema {
      -moz-transform: translateX(110%);
      -webkit-transform: translateX(110%);
      transform: translateX(110%); }
    body .teaser_showtimes .day > .pos_left .cinema {
      -moz-transform: translateX(-110%);
      -webkit-transform: translateX(-110%);
      transform: translateX(-110%); }
    body .teaser_showtimes .day > .active .cinema {
      -moz-transform: translateX(0);
      -webkit-transform: translateX(0);
      transform: translateX(0); }
  body .teaser_showtimes .day_pos_left {
    top: -1000px; }
  body .teaser_showtimes .day_pos_right {
    top: -1000px; }
  body .teaser_showtimes .day_active {
    top: 18px; }

body.mode-details .teaser_showtimes {
  top: 239px;
  opacity: 1;
  left: 0; }

/* Transition globals */
/* Animation globals */
/* Transition/animation global shortcuts */
/* Component: ./components/days */
/* Component: ./components/teaser */
/* Component: ./components/showtimes */
/* Component: ./components/header/burger */
/* Component: ./components/header/header */
/* Component: ./loading-modal */
.loading-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  z-index: 10000; }
  .loading-modal .loading-modal-icon {
    position: relative;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    transform: translateX(-50%) translateY(-50%);
    font-size: 4em;
    color: #999; }
