@import "../../vars";
@import "../../mixins";

body {
  .teaser_headlines {
    .item {
      left: 10px;
      top: $body_margin_top_with_nav;
      width: calc(100% - 20px);
      height: $teaser_item_height;
      position: absolute;
      z-index: 20;

      &:before {
        content:'';
        display:block;
        width:0;
        height:3px;
        background: $teaser_bar_color none;
        position: absolute;
        top:132px;
        left:50%;
        @include transform(translateX(-50%));
        z-index:20;
        opacity:0;
        @include transition(
                        left $o2d_ani_dur_tf,
                        opacity $o2d_ani_dur_tf,
                        width $o2d_ani_dur_tf
        );
      }

      .headline_container {
        position: absolute;
        bottom: $teaser_inner_spacings;
        left: $teaser_inner_spacings;
        color: $teaser_headline_color;
        background:transparent;
        @include transition(
                        bottom $o2d_ani_dur_tf,
                        left $o2d_ani_dur_tf,
                        transform $o2d_ani_dur_tf,
                        opacity $o2d_ani_dur_tf
        );

        span {
          display: inline-block;
          white-space: nowrap;
          font-size: $teaser_headline_font_size;
          @include transform(translateX(0)); // Must be set, so IE Edge considers the initial correctly.
          @include transition(transform $o2d_ani_dur_tf);
        }
      }
    }

    @for $i from 2 through $teaser_max_items {
      .item:nth-of-type(#{$i}) {
        top: $body_margin_top_with_nav + (($i - 1) * ($teaser_item_height + $teaser_item_space));
      }
    }
  }

  &.mode-details {
    .teaser_headlines {

      .item {

        &:before {
          width:$teaser_bar_width;
          opacity:1;
        }

        .headline_container {
          left: 50%;
          @include transform(translateY(50%) scale(1));
          bottom: 50%;
          background-color: rgba($white, 0); // Background make transparent areas that are wider then the visible text clickable
          @include transform(center, -origin);

          span {
            @include transform(translateX(-50%));
          }
        }
      }

      .pos_left {
        left: -100%;
        z-index: 10;

        &:before {
          left:100%;
          opacity: 0;
        }

        .headline_container {
          left: 100%;
          opacity: 0.5;
        }
      }

      .active {
        left: 0;
        z-index: 5;

        .headline_container {
          opacity: 1;
          @include transform(translateX(25%) translateY(50%) scale(1.5));
        }
      }

      .pos_right {
        left: 100%;
        z-index: 10;

        &:before {
          left:0;
          opacity: 0;
        }

        .headline_container {
          opacity: 0.5;
          left:0;
        }
      }

      .pos_left_off .headline_container,
      .pos_right_off .headline_container {
        opacity: 0;
        left:0;
        @include transform(translateY(50%) scale(1));
      }

      .pos_right_off .headline_container {
        left:50%;
      }

      .item:hover .headline_container {
        opacity: 1;
      }
    }
  }
}