@import "../../vars";
@import "../../mixins";

body {
  .teaser_headlines,
  .teaser {
    @include transition(height $o2d_ani_dur $o2d_ani_tf);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $teaser_height;
    overflow: hidden;

    .item {
      left: 10px;
      top: $body_margin_top_with_nav;
      width: calc(100% - #{$teaser_item_horizontal_margin});
      height: $teaser_item_height;
      position: absolute;
      cursor: pointer;
      z-index: 1;
      @include transition(
                      left $o2d_ani_dur_tf,
                      top $o2d_ani_dur_tf,
                      width $o2d_ani_dur_tf,
                      height $o2d_ani_dur_tf
      );
    }

    @for $i from 2 through $teaser_max_items {
      .item:nth-of-type(#{$i}) {
        top: $body_margin_top_with_nav + (($i - 1) * ($teaser_item_height + $teaser_item_space));
      }
    }
  }

  &.mode-details {
    .teaser_headlines,
    .teaser {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      height: $teaser_item_expanded_height;
      @include userSelect(none);

      .item {
        height: $teaser_item_expanded_height;
        width: 100%;
        top: 0 !important;
        left: 0;
      }
    }
  }
}

@import "teaser";
@import "headlines";