@import "../../vars";
@import "../../mixins";

body {
  .teaser {
    .item {
      @include transition(
                      left $o2d_ani_dur_tf,
                      top $o2d_ani_dur_tf,
                      width $o2d_ani_dur_tf,
                      height $o2d_ani_dur_tf,
                      border-radius $o2d_ani_dur_tf
      );
      @include rounded(5px);
      overflow: hidden;

      background-color: $teaser_item_background_color;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;

      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0.75;
      }

      &:nth-child(5n+0) {
        &:before {
          @include gradientLeftToRight(#d50000, #c17d00);
        }
      }

      &:nth-child(5n+1) {
        &:before {
          @include gradientLeftToRight(#02cb7a, #00d1d3);
        }
      }

      &:nth-child(5n+2) {
        &:before {
          @include gradientLeftToRight(#d7d700, #00d800);
        }
      }

      &:nth-child(5n+3) {
        &:before {
          @include gradientLeftToRight(#ff00be, #0495ff);
        }
      }

      &:nth-child(5n+4) {
        &:before {
          @include gradientLeftToRight(#00abe1, #00d700);
        }
      }

      .rating {
        position: absolute;
        bottom: $teaser_inner_spacings;
        right: $teaser_inner_spacings;
        color: $teaser_rating_color;
        @include transition(opacity $o2d_ani_dur_tf);
        opacity: 1;
        font-size: $teaser_rating_font_size;

        &:before {
          content: '\e800';
          font-family: arithnea-exercise, sans-serif;
          color: $teaser_rating_star_color;
          margin-right: 0.2em;
        }
      }
    }
  }

  &.mode-details {
    .teaser {
      .item {
        @include rounded(0);
        overflow: visible;

        .rating {
          opacity: 0;
        }
      }

      .pos_left,
      .pos_right,
      .active {
        position: absolute;
        top: 0;
        width: 100%;
      }

      .pos_left {
        left: -100%;
      }

      .active {
        left: 0;
      }

      .pos_right {
        left: 100%;
      }
    }
  }
}