@import "mixins";

body {
  background: $background_white none;
  margin: 0;
  padding: 0;
  font-family: "San Francisco", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: $black;

  .container {
    margin: 0;
  }
}

.template {
  display: none;
}

.spin {
  @include animationName(spin);
  @include animationDuration(2s);
  @include animationIterationCount(infinite);
  display: inline-block;
}

@include keyframes(spin) {
  0% {
    @include transform(rotate(0deg));
  }

  100% {
    @include transform(rotate(359deg));
  }
}

.fade-out {
  @include animationName(fade-out);
  @include animationDuration(500ms);
  @include animationIterationCount(1);
  display: inline-block;
}

@include keyframes(fade-out) {
  0% {
    opacity: 100;
  }

  100% {
    opacity: 0;
  }
}

.move_out_of_sight_important {
  position: absolute !important;
  left:-100% !important;
}