@function str-replace($string, $search, $replace: '') {

  $string: quote($string);

  $index: str-index($string, $search);

  @if $index {
    $replaced_string: str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    @return unquote($replaced_string);
  }

  @return unquote($string);
}