@import "vars";
@import "functions";

@mixin singleTransition(
  $property: $transition_property_default,
  $duration: $transition_duration_default,
  $timing-function: $transition_timing_function_default,
  $delay: $transition_delay_default
) {
  @each $vendor in $vendors {
    #{$vendor}transition: $property $duration $timing-function $delay;
  }
}

@mixin transition($transition...) {
  @each $vendor in $vendors {
    #{$vendor}transition: $transition;
  }
}

// Important: Needed
@mixin multipleTransitions($transitions: $transition_all_transform_default) {
  @each $vendor in $vendors {
    #{$vendor}transition: unquote(str-replace($transitions, 'transform', $vendor + 'transform'));
  }
}

@mixin box-shadow(
  $top: $shadow_top_default,
  $left: $shadow_left_default,
  $blur: $shadow_blur_default,
  $spread: $shadow_spread_default,
  $color: $shadow_color_default,
  $type: $shadow_type_default
) {
  @each $vendor in $vendors {
    #{$vendor}box-shadow: $left $top $blur $spread $color $shadow_type_default;
  }
}

@mixin rounded($radius: $default_radius) {
  @each $vendor in $vendors {
    #{$vendor}border-radius: $radius;
  }
}

@mixin gradientTopToBottom($from, $to) {
  background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  background: -moz-linear-gradient(top, $from, $to);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
}

@mixin gradientLeftToRight($from, $to) {
  background: -webkit-gradient(linear, left top, right top, from($from), to($to));
  background: -moz-linear-gradient(left, $from, $to);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
}

@mixin resetAll() {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
  border: none;
  position: static;
  text-align: inherit;
  text-transform: none;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

// Documentation: https://www.w3schools.com/cssref/css3_pr_animation.asp
@mixin animationName($name) {
  @each $vendor in $vendors {
    #{$vendor}animation-name: $name;
  }
}

@mixin animationDuration($duration: $animation_duration_default) {
  @each $vendor in $vendors {
    #{$vendor}animation-duration: $duration;
  }
}

@mixin animationTimingFunction($timing_function: $animation_timing_function_default) {
  @each $vendor in $vendors {
    #{$vendor}animation-timing-function: $timing_function;
  }
}

@mixin animationDelay($delay: $animation_delay_default) {
  @each $vendor in $vendors {
    #{$vendor}animation-delay: $delay;
  }
}

@mixin animationIterationCount($iteration_count: $animation_iteration_count_default) {
  @each $vendor in $vendors {
    #{$vendor}animation-iteration-count: $iteration_count;
  }
}

@mixin animationDirection($direction: $animation_direction_default) {
  @each $vendor in $vendors {
    #{$vendor}animation-direction: $direction;
  }
}

@mixin animationFillMode($fill_mode: $animation_fill_mode_default) {
  @each $vendor in $vendors {
    #{$vendor}animation-fill-mode: $fill_mode;
  }
}

@mixin animationPlayState($play_state: $animation_play_state_default) {
  @each $vendor in $vendors {
    #{$vendor}animation-play-state: $play_state;
  }
}

@mixin animation(
  $name,
  $duration: $animation_duration_default,
  $timing_function: $animation_timing_function_default,
  $delay: $animation_delay_default,
  $iteration_count: $animation_iteration_count_default,
  $direction: $animation_direction_default,
  $fill_mode: $animation_fill_mode_default,
  $play_state: $animation_play_state_default
) {
  @each $vendor in $vendors {
    #{$vendor}animation: $name $duration $timing_function $delay $iteration_count $direction $fill_mode $play_state
  }
}

@mixin transform($tranformation, $postfix: null) {
  @each $vendor in $vendors {
    #{$vendor}transform#{$postfix}: $tranformation;
  }
}

@mixin userSelect($value: default) {
  @each $vendor in $vendors {
    #{$vendor}user-select: $value;
  }
}

@mixin displayGrid() {
  @each $vendor in $grid_vendors {
    display: #{$vendor}grid;
  }
}

@mixin grid($css_parameter, $value) {
  @each $vendor in $grid_vendors {
    #{$vendor}#{$css_parameter}: $value;
  }
}

@mixin gridColumns($value) {
  @include grid(grid-template-columns, $value);
  @include grid(grid-columns, $value);
}

@mixin gridRows($value) {
  @include grid(grid-auto-rows, $value);
  @include grid(grid-rows, $value);
}

@mixin overflowX($value) {
  @each $overflow_vendor in $overflow_vendors {
    #{$overflow_vendor}overflow-x: $value;
  }
}

@mixin overflowY($value) {
  @each $overflow_vendor in $overflow_vendors {
    #{$overflow_vendor}overflow-y: $value;
  }
}