// TODO Alle Farben benannt noch hier reinziehen, bzw. diese in eine extra colors-Datei auslagern.

$vendors: "-moz-", "-webkit-", "";
$grid_vendors: "-ms-", "";
$overflow_vendors: "-ms-", "";

$font_size_normal: 1em;
$font_size_s: $font_size_normal - 0.1em;
$font_size_xs: $font_size_normal - 0.2em;
$font_size_l: $font_size_normal + 0.1em;
$font_size_xl: $font_size_normal + 0.2em;
$font_size_xxl: $font_size_normal + 0.3em;

$white: #fff;
$black: #000;
$cyan: #52D0F2;
$gray: #C0C1C1;
$medium_dark_gray:#AFADAE;
$dark_gray: #999;
$very_dark_gray: #3D3C3C;
$star_yellow: #E5BD40;

$background_white: $white;
$background_black: $black;

$shadow_color_default: rgba($black, 0.5);
$shadow_blur_default: 5px;
$shadow_top_default: 0;
$shadow_left_default: 0;
$shadow_spread_default: 0;
$shadow_type_default: null;

$default_radius: 5px;

$body_margin_top_default: 0;
$body_margin_top_with_nav: 47px;

/* Transition globals */
$transition_property_default: all;
$transition_duration_default: 1s;
$transition_timing_function_default: linear;
$transition_delay_default: null;
$transition_transformation_default: null;

$transition_all_transform_default: "#{$transition_property_default} #{$transition_duration_default} #{$transition_timing_function_default}, transform #{$transition_duration_default}";

/* Animation globals */
$animation_duration_default: 1s;
$animation_timing_function_default: linear;
$animation_delay_default: 100ms;
$animation_iteration_count_default: 1;
$animation_direction_default: normal;
$animation_fill_mode_default: forwards;
$animation_play_state_default: running;

/* Transition/animation global shortcuts */
$overview_to_detail_animation_duration: 750ms; // Note: This must be the same value as in the typescript file app.ts!
$o2d_ani_dur: $overview_to_detail_animation_duration;

$overview_to_detail_animation_timing_function: ease;
$o2d_ani_tf: $overview_to_detail_animation_timing_function;

$o2d_ani_dur_tf: $o2d_ani_dur $o2d_ani_tf;

/* Component: ./components/days */
$day_nav_text_color: $medium_dark_gray;
$day_nav_active_text_color: $white;
$day_nav_active_background_color: $cyan;
$day_nav_background_color:$white;
$day_nav_date_font_size: $font_size_normal + 0.25em;
$day_nav_week_day_font_size: $font_size_normal - 0.25em;
$day_nav_active_border:4px;
$day_nav_height: 59px;

/* Component: ./components/teaser */
$teaser_item_height: 135px;
$teaser_item_expanded_height: 180px;
$teaser_item_space: 10px;
$teaser_item_background_color: $white;
$teaser_rating_color: $white;
$teaser_rating_font_size: $font_size_xl;
$teaser_rating_star_color:$star_yellow;
$teaser_max_items: 10;
$teaser_height: $body_margin_top_with_nav + ($teaser_item_height + $teaser_item_space) * $teaser_max_items;
$teaser_inner_spacings: 15px;
$teaser_item_left_margin: 10px;
$teaser_item_right_margin: $teaser_item_left_margin;
$teaser_item_horizontal_margin: $teaser_item_left_margin + $teaser_item_right_margin;
$teaser_bar_width:37px;
$teaser_bar_color:$white;
$teaser_headline_font_size:$font_size_xl;
$teaser_headline_color:$white;

/* Component: ./components/showtimes */
$showtimes_day_left_margin: $teaser_item_left_margin;
$showtimes_day_right_margin: $teaser_item_right_margin;
$showtimes_day_horizontal_margin: $showtimes_day_left_margin + $showtimes_day_right_margin;
$showtimes_item_space: $teaser_item_space;
$showtimes_position_top: $teaser_item_expanded_height + $day_nav_height;
$showtimes_time_border_color: $day_nav_active_background_color;
$showtimes_list_headline_color: $very_dark_gray;
$showtimes_list_times_color: $very_dark_gray;
$showtimes_list_headline_font_size: $font_size_s;
$showtimes_list_times_font_size: $showtimes_list_headline_font_size;
$showtimes_list_times_padding: 5px;
$showtimes_list_times_border_size: 1px;
$showtimes_list_times_margin_bottom: 8px;
$showtimes_list_times_margin_right: 7px;
$showtimes_item_padding: 15px;
$showtimes_item_headline_distance_color: $gray;
$showtimes_item_headline_distance_font_size: $font_size_xs;
$showtimes_container_height:1000px;
$showtimes_day_pos_top:18px;
$showtimes_cinema_box_shadow_color:rgba($black, 0.15);
$showtimes_cinema_box_background_color:$white;

/* Component: ./components/header/burger */
$burger_lines_color:$black;
$burger_chevron_color:$white;

/* Component: ./components/header/header */
$header_background_color: $white;

/* Component: ./loading-modal */
$loading_modal_background_color:$white;